
/* Font Imports */

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|Inconsolata&display=swap');

/* Colors

bg: black
fg: white
fg-dull: #9f9f9f

*/



/* Body */

body {
  margin: 0px;
  background: black;
}


/* Navigation */

#navbar {
  width: 40%;
  margin: 2% 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  height: 200px;
  width: auto;
  padding-right: 20px;
}

#links {
  height: 100%;
  width: 70px;
  padding-left: 20px;
  border-left: #9f9f9f solid 1px;
  display: flex;
  flex-wrap: wrap;
}

#links a {
  display: block;
  height: 20px;
  margin: 10px;
  padding: 2px 8px;
  border: white solid 1px;
  color: white;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-family: 'Inconsolata', monospace;
  transition: 0.2s;
}

#links a:hover {
  background-color: white;
  color: black;
}

#nav-sep {
  display: block;
  margin: 10px auto;
  color: #9f9f9f;
  text-align: center;
  font-size: 50px;
}



/* Content */

.zig-meta .date {
  display: none;
}

.zig-meta .tags {
  display: none;
}

.zig-meta .title {
  display:inline-block;
  margin: 10px auto;
  padding: 6px 10px;
  border: white solid 1px;
  font-size: 30px;
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

.zig {
  width: 40%;
  margin: 0px 30% 20px;
  color: white;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

.zig p {
  color: #9f9f9f;
}
